* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #F5F5F6;
    height: 7vh;
    .logo {
        width: 7%;
        .logo img {
            width: 100%;
        }
    }
    .nav-menu {
        display: flex;
        .nav-link {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 600;
            font-size: 90%;
            line-height: 0, 8125rem;
            letter-spacing: 0.06rem;
            margin-right: 3%;
            color: #959BA4;
            transition: 0.5s;
            a {
                font-size: 90%;
            }
            &:hover {
                opacity: 0.7;
            }
        }
    }
}